.instructions{
    display: flex;
    justify-content: space-evenly;
}
.header{
    padding: 0.1%;
}
a:link{
    color:#ffffff;
}
a:visited{
    color: #ffffff;
}
body{
    background-color: #20ff22;
}
.instructions :hover{
    transform: scale(1.12);
}